:root{
    --cor-1: #e71212;
    --cor-2: #e24a0e;
    --cor-3: #df8713;
    --cor-4: #ecc70d;
    --cor-5: #71e80a;
    --cor-6: #000000;
}

.container-corpo {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: var(--cor-3);
    color: var(--cor-6);
    height: calc(100vh - 60px);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.corpo-esquerda, .corpo-direita {
    background-color: var(--cor-1);
    height: 800px;
    width: 600px;
   
}

.corpo-meio {
    background-color: var(--cor-2);
    height: 800px;
    width: 740px;
}


