:root{
    --cor-1: #e71212;
    --cor-2: #e2b00e;
    --cor-3: #c1cc29;
    --cor-4: #ce1f3a;
    --cor-5: #e6e6e6;
    --cor-6: #ef97a4;
}

.container-corpo {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: rgb(212, 150, 34);
    color: rgb(0, 0, 0);
    height: calc(100vh - 60px);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.corpo-esquerda, .corpo-direita {
    background-color: blueviolet;
    height: 800px;
    width: 600px;
}

.corpo-meio {
    background-color: brown;
    height: 800px;
    width: 740px;
}
