
:root{
    --cor-1: #e71212;
    --cor-2: #e24a0e;
    --cor-3: #df8713;
    --cor-4: #ecc70d;
    --cor-5: #71e80a;
    --cor-6: #000000;
}

.container-ladodir{
    background-color: var(--cor-4);
    background: linear-gradient(to right, var(--cor-2), var(--cor-1));
    height: 800px;
    width: 600px;
}

.titulodir{
    color: var(--cor-6);
    align-items: center;
    display: flex;
    flex-direction: column;
}